* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.wrapper-quiz {
    margin: 20px auto;
    height: 900px;
    width: 1200px;
    background-color: #cbd4d7;
    border-radius: 15px;
    box-shadow: 0px 5px 10px #63625f;
}

.wrapper-quiz .quiz-process {
    margin: 0 auto;
    margin-bottom: 2px;
    height: 300px;
    width: 1000px;
    background-color: #f4f4f4;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.wrapper-quiz .quiz-process .content {
    height: 30%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.wrapper-quiz .quiz-process .process {
    margin: 0 auto;
    width: 25%;
    height: 18px;
    background-color: #808080;
    border-radius: 10px;
}
.wrapper-quiz .quiz-process .complete {
    font-size: 18px;
    font-weight: 500;
}

.wrapper-quiz .quiz-question {
    margin: 0 auto;
    height: 57%;
    width: 1000px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fafafa;
    border-top: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
}
.wrapper-quiz .quiz-question .answer {
    box-sizing: border-box;
    margin: 20px auto;
    width: 90%;
    height: 45px;
    background-color: #ededed;
    border-radius: 20px;
    text-align: left;
    padding-left: 25px;
    cursor: pointer;
}

.wrapper-quiz .quiz-action {
    margin: 0 auto;
    margin-bottom: 2px;
    height: 80px;
    width: 1000px;
    background-color: #f4f4f4;
    display: flex;
}
.wrapper-quiz .quiz-action button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #d7d7d7;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}
